#
#   Helios.
#   Copyright (C) 2015-2024 Cartesian Theatre. All rights reserved.
#

# Functional test to verify utilities work. The tqdm module outputs its progress
#  bar to stderr, so we need to add that restriction...
Tests: test-utilities-usage.sh
Depends: @, helios-autopkgtest, helios-magnatune-minimal, avahi-utils, diffutils, lincity-ng-data
Restrictions: isolation-container, allow-stderr

# Functional test to verify helios-provision-magnatune(1) works. This needs
#  network access. Requires allow-stderr for same reason as above...
Tests: test-provision-magnatune.sh
Depends: helios-autopkgtest, avahi-utils, diffutils, dbus
Restrictions: isolation-container, allow-stderr, needs-internet

# Test helios-trainer GUI using dogtail in headless environment...
Tests: test-trainer.py
Depends: helios-client-utilities, python3-dogtail, libglib2.0-bin, xvfb, xauth, at-spi2-core, dbus-daemon
Restrictions: isolation-container, allow-stderr

